<div class="container">
  <h1>My Books{{#if username}} - {{username}} {{/if}}</h1>

  <a class="btn btn-primary" href="/books/add">Add book</a>
  <br><br>
<ul class="list-group">
  {{#each books}}
    <li class="list-group-item">     
      {{this.dataValues.title}} - {{this.dataValues.author}}
      <span style="float: right;">
        <a class="btn btn-success" href="books/edit/{{this.dataValues.id}}">Comments</a>
        <a class="btn btn-danger" href="books/remove/{{this.dataValues.id}}">Delete</a>
      </span>
    </li>
  {{/each}}
</ul>

{{#unless books}}
  <p>Nothing here... Add your first book!</p>
{{/unless}}

</div>



