<h1>My Books{{#if username}} - {{username}} {{/if}}</h1>
<a href="/books/add">Add book</a>
<ul>
  {{#each books}}
    <li>
      {{this.dataValues.title}} - {{this.dataValues.author}}
      <a href="books/remove/{{this.dataValues.id}}">[remove]</a>
      <a href="books/edit/{{this.dataValues.id}}">[edit]</a>
    </li>
  {{/each}}
</ul>

{{#unless books}}
  <p>Nothing here... Add your first book!</p>
{{/unless}}